[Locations]
# Path to loadout config. Can use relative path from here.
looks_config = ./appearance.cfg

# Path to python file. Can use relative path from here.
python_file =https://br.images.search.yahoo.com/images/view;_ylt=AwrFFCt6ZmdlD4gjoCn16Qt.;_ylu=c2VjA3NyBHNsawNpbWcEb2lkA2ZmZmNhNTA5YWFlZmZlNmJjZmNjMjcxOTEzMWY3Yzg4BGdwb3MDNgRpdANiaW5n?back=https%3A%2F%2Fbr.images.search.yahoo.com%2Fsearch%2Fimages%3Fp%3Dlogo%2Bpng%2Bmatue%26norw%3D1%26ei%3DUTF-8%26type%3DE210BR91199G0%26fr%3Dmcafee%26fr2%3Dsp-qrw-orig-top%26tab%3Dorganic%26ri%3D6&w=1080&h=826&imgurl=i2.wp.com%2Fportalrapmais.com%2Fwp-content%2Fuploads%2F2020%2F09%2FWhatsApp-Image-2020-09-08-at-19.01.30-e1599602544146.jpeg%3Ffit%3D1080%252C826%26ssl%3D1&rurl=https%3A%2F%2Fportalrapmais.com%2Frapper-matue-revela-capa-tracklist-e-produtos-de-seu-novo-album-maquina-do-tempo%2F&size=38.0KB&p=logo+png+matue&oid=fffca509aaeffe6bcfcc2719131f7c88&fr2=sp-qrw-orig-top&fr=mcafee&tt=Rapper+Matu%C3%AA+revela+capa%2C+tracklist+e+produtos+de+seu+novo+%C3%A1lbum+...&b=0&ni=21&no=6&ts=&tab=organic&norw=1&sigr=YTF7zWf8qPRC&sigb=zSW8ekt2y2z5&sigi=XKZvRLjUkc4y&sigt=TxPQcNP0VOD5&.crumb=QecNCq1b5k4&fr=mcafee&fr2=sp-qrw-orig-top&norw=1&type=E210BR91199G0 ./bot.py

# Name of the bot in-game
name = PythonExampleBot

# The maximum number of ticks per second that your bot wishes to receive.
maximum_tick_rate_preference = 120

[Details]
# These values are optional but useful metadata for helper programs
# Name of the bot's creator/developer
developer = The RLBot community

# Short description of the bot
description = This is a multi-line description
    of the official python example bot

# Fun fact about the bot
fun_fact =

# Link to github repository
github = https://github.com/RLBot/RLBotPythonExample

# Programming language
language = python
